body {
  margin: 100px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.results {
  margin-top: 100px;
  margin-left: 50px;
}

button {
  width: 250px;
  padding: 25px 25px;
  border-radius: 12px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
  transition-duration: 0.4s;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bolder;
}

button:hover {
  background-color: white;
  color: blue;
  border: 2px dashed blue;
}
